 
.s-row {
	display: flex;
	justify-content: space-around;
	margin-left: 10px;
    width: 60%;
   


}



/* ================================= 
  Media Queries
==================================== */

